.test {
	padding-bottom: 40px;

	&__wrapper {
		position: relative;
		margin-bottom: 40px;

		@include media(md) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			min-height: vw(290);
			margin-bottom: vw(25);
		}
	}

	&__heading {
		margin: 0 0 24px;

		@include fluid-font-size(26px, 36px, 320px, 430px);
		font-family: "Playfair Display", "Georgia", serif;
		line-height: 1;
		color: $color-red;
		font-weight: 400;
		text-transform: uppercase;
		text-align: center;

		@include media(md) {
			max-width: 92%;
			margin: vw(60) auto vw(32);
			transform: translateX(vw(32));

			@include fluid-font-size(30px, 40px, 430px, 1920px);
			line-height: 1.175;
		}
	}

	&__question {
		padding-top: 60px;

		@include fluid-font-size(16px, 21px, 320px, 430px);
		line-height: 1.38;
		text-align: center;
		font-weight: 500;
		text-transform: uppercase;

		@include media(md) {
			width: 70%;
			margin: 0 auto;
			padding-top: 0;

			@include fluid-font-size(15px, 25px, 430px, 1920px);
			line-height: 1.4;
		}
	}

	&__answer {
		text-align: center;

		/*@include media(md) {
			padding-top: vw(75);
		}*/

		&-text {
			@include fluid-font-size(16px, 24px, 320px, 430px);
			line-height: 1.25;
			text-transform: uppercase;
			text-align: center;
			font-weight: 500;
			color: $color-red;
			margin: vw(60) auto;

			@include media(md) {
				width: 50%;
				margin: vw(20) auto;

				@include fluid-font-size(20px, 24px, 768px, 1920px);
				line-height: 1.4;
			}
		}
	}

	&__counter {
		position: relative;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		width: 100%;

		@include fluid-font-size(110px, 144px, 320px, 430px);
		font-family: "PF Din Display Pro", "Arial", sans-serif;
		line-height: 1;
		font-weight: 900;
		color: $color-counter;
		text-align: center;

		@include media(md) {
			top: vw(-10);

			@include fluid-font-size(72px, 144px, 430px, 1920px);
		}
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		margin-bottom: 105px;

		@include media(md) {
			flex-direction: row;
			justify-content: center;

			margin-bottom: vw(150);
		}
	}

	&__btn {
		min-width: 285px;
		padding: 20px 8px;
		cursor: default;
		transition: all 0.3s ease;
		border: solid 1px $color-red;

		@include fluid-font-size(20px, 24px, 320px, 430px);
		text-align: center;
		font-weight: 500;
		color: $white;
		line-height: 1;
		border-radius: 33px;
		background-color: $color-red;
		align-self: center;

		& + *:not(&--next) {
			margin-top: 16px;
		}

		@include media(md) {
			& + *:not(&--next) {
				margin-top: 0;
				margin-left: vw(30);
			}

			&:hover {
				color: $color-red;
				background-color: $white;
			}
		}

		&:focus {
			outline: none;
			background-color: lighten($color-red, 10%);
		}

		&:active {
			opacity: 0.7;
		}
	}

	&__progress {
		display: flex;
		justify-content: space-between;
		width: calc(100% - 10px);
		height: 1px;
		margin: 0 auto 60px;
		background-color: $color-grey2;

		@include media(md) {
			max-width: vw(844);

			transform: translateX(-17px);
		}

		&-item {
			$item: &;
			position: relative;

			&::before {
				content: "";
				display: block;
				width: 11px;
				height: 11px;
				margin-top: -5px;
				border-radius: 50%;
				background-color: $color-counter;
			}

			&-text {
				position: absolute;
				top: 32px;
				left: 50%;
				transform: translateX(-50%);

				display: none;

				@include fluid-font-size(20px, 26px, 320px, 430px);
				text-align: center;
				font-weight: 500;
				color: $color-pink;
				line-height: 1;

				@include media(md) {
					top: vw(47);
				}
			}

			&--active {
				&::before {
					background-color: $color-red;
					box-shadow: 0 0 0 19px rgba(217, 6, 19, 0.3);
				}
				#{$item}-text {
					display: block;
				}
			}
			&--last {
				#{$item}-text {
					display: block;
				}
			}
		}
	}

	img {
		display: inline-block;
		vertical-align: top;
		max-width: 50%;
		max-height: 400vw;
		height: auto;
		object-fit: cover;
	}

	&--result {
		padding-bottom: vw(100);

		img {
			display: block;
			margin: 0 auto vw(50);
			max-width: 30%;

			@media (max-width: 767px) {
				margin: 0 auto vw(80);
			}
		}

		.container {
			position: relative;
		}

		.test {
			&__result-text {
				font-size: vw(27);
				line-height: vw(34);
				text-align: center;
				max-width: vw(1063);
				margin: 0 auto vw(85);
				text-transform: uppercase;

				@media (max-width: 767px) {
					font-size: vw(80);
					line-height: vw(90);
					max-width: 100%;
				}

				a {
					color: #FF0000;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}

			&__share {
				font-size: vw(26);
				line-height: vw(24);
				font-weight: 500;
				color: #868686;
				text-align: center;
				margin-bottom: vw(14);

				@media (max-width: 767px) {
					font-size: vw(70);
					line-height: vw(80);
					margin-bottom: vw(30);
				}
			}

			&__social {
				justify-content: center;

				li {
					width: vw(66);
					height: vw(60);
					background: #F91719;
					border-radius: 50%;

					@media (max-width: 767px) {
						width: vw(173);
						height: vw(180);
					}
				}

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 100%;
				}

				svg {
					fill: $white;
				}
			}
		}
	}
}
