.webpage {
	background-repeat: no-repeat;
	background-position: right 0 top 0;
	background-image: url("../img/mobile-bg.jpg");
	background-color: $color-bg;

	@include retina {
		background-image: url("../img/mobile-bg@2x.jpg");
	}

	@include media(md) {
		background-position: 50% 0;
		background-size: 100% auto;
		background-image: url("../img/group.jpg");

		@include retina {
			background-image: url("../img/bg@2x.jpg");
		}
	}

	&__header {
		margin-bottom: 60px;

		@include media(md) {
			margin-bottom: vw(208);
		}
	}
}
