.webpage {
	background-repeat: no-repeat;
	background-position: right 0 top 0;
	background-image: url("../img/mobile-bg-v2.jpg");
	background-size: 100% 760px;
	background-color: $color-bg;

	@include media(md) {
		background-position: 30% -20px;
		background-size: 1366px auto;
		background-image: url("../img/bg.jpg");

		@include retina {
			background-image: url("../img/bg@2x.jpg");
		}
	}

	@include media(xxl) {
		background-size: 100% auto;
	}

	&__header {
		margin-bottom: 60px;

		@include media(md) {
			margin-bottom: vw(208);
		}
	}
}
