header.webpage__header.header
	.header__inner.container
		a.header__logo.logo
			+icon('logo')(width="242" height="48", aria-label="MAXIM")
		ul.header__social.social
			li.social__item
				a.social__link(href="#", target="_blank")
					+icon('vk')(width="24", height="24")
					span.visually-hidden Вконтакте
			li.social__item
				a.social__link(href="#", target="_blank")
					+icon('ok')(width="24", height="24")
					span.visually-hidden Одноклассники
			li.social__item
				a.social__link(href="#", target="_blank")
					+icon('fb')(width="24", height="24")
					span.visually-hidden Фейсбук
			li.social__item
				a.social__link(href="#", target="_blank")
					+icon('tw')(width="24", height="24")
					span.visually-hidden Твиттер
		h1.header__heading Насколько ты электро?
		.header__text
			p Возможно ты не знал, но слова Порше и электричество подружились раньше, чем Порше и автомобиль. Еще будучи безусым студентом молодой Фердинанд Порше электрифицировал дом своих родителей. На дворе, как сейчас помним, стоял тусклый и унылый 1891 год…

			p Сегодня же Porsche не только предлагает в фирменных шоу-румах электрический гиперкар – если ты еще не в курсе он называется Taycan (можно лендинг сюда) – но и участвует в гонках чемпионата Formula E. Это специальная серия, в которую допущены только болиды на электротяге. Кстати, этот чемпионат по интриге и зрелищности заткнет за пояс даже “Формулу-1”! Не веришь? Пройди наш тест и сам убедишься. На старт, внимание, гоу!
		a.header__btn(href="#") Пройти тест


